body {
    background-image: url('https://modern-todo-list.vercel.app/img/bg-mobile-light.jpg'); /* Image URL yahan den */
    background-size: cover; /* Image ko pura page cover karne ke liye */
    background-position: center; /* Image ko center me rakhne ke liye */
    background-repeat: no-repeat; /* Image ko repeat hone se rokne ke liye */
    height: 100%; /* Full height for body */
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body {
    height: 100%; /* Ensure both html and body have 100% height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}
#maindiv{
    /* border: 1px solid; */
    border-radius: 20px;
    width: 300px;
    /* height: 600px; */
    margin-bottom: 70px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);

}
h1{
    font-family: cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    /* background-color: blue; */
    position: relative;
    bottom: 30px;
}
#input{
    height: 30px;
    width: 230px;
    margin-left: 33px;
    position: relative;
    bottom: 49px;
    border-radius: 10px;
}
#error{
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: cursive;
}
#out{
    font-size: 25px;
    font-family: sans-serif;
}
/* .delete-btn{
    background-color: blue;
    margin-left: 10px;
} */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    /* position: absolute;
    left: 230px; */
}
ul {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-family: sans-serif;
}
